@charset "UTF-8";
/* ------------------------------------------------------------------- *
 |  TYPE:           Mixin
 |  AUTHOR(S):      MikeM
 |  DATE CREATED:   18/12/2012
 |  DATE UPDATED:   18/12/2012
 |  DESCRIPTION:    CSS3 Transition mixins
 |
 |  EXAMPLE:        fade out with a position change:
 |                  @include fade($type: 'out', $additional-transition: left 0.5s ease-in);
 |
 * ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- *
 |  TYPE:           Mixin
 |  AUTHOR(S):      Josh, Frej, MikeM
 |  DATE CREATED:   18/09/2012
 |  DATE UPDATED:   12/12/2012
 |  DESCRIPTION:    Sprites mixin
 |                  Supports hi-res backgrounds
 |
 * ------------------------------------------------------------------- *
    EXAMPLE
    -------

    STEP 1)
    Creating the sprite (only call once per sprite):

        All options:
        ------------

        @include make-sprite(
                    $folder-name:       'base',
                    $use-retina:        true,
                    $sprite-spacing:    8
                )


        Simple use:
        -----------

        @include make-sprite( $folder-name: 'base', $use-retina: true );


    STEP 2)
    Using the sprite:

        All options:
        ------------

        .box1 {
            @include background-sprite(
                                        $folder-name:   'base',
                                        $image-name:    'icon-mobile-menu',
                                        $offset-x:      0px,
                                        $offset-y:      0px,
                                        $use-retina:    true,
                                        $print-dimensions: false
                                    );
        }

        Simple use:
        -----------

        .box2 {
            @include background-sprite( 'base', 'icon-app-store' );
        }


    SPRITE IMAGE WIDTH & HEIGHT
    ---------------------

    .box1{
        width: sprite-width( 'base', 'icon-app-store' );
        height: sprite-height( 'base', 'icon-app-store' );
    }


 * ------------------------------------------------------------------- */
/* ------------------------------------------------------------- *
    Sprite store
    All generated sprites will be put in this array:
    ( folder name, spacing, sprite-map, sprite-map-retina )
   ------------------------------------------------------------- */
/* Indicators
  Authors: Frej and MikeM, Nov 2012
  -------------------------------------------------------------
  the little arrow thingies that stick out of containers to point to something
  else, or point to themselves (e.g. active nav item)

  @params
  ---
  $direction
    - which direction the indicator points
    - default 'up'
  $size
    - in px, this will be half the width of the indicator's base
    - default '10px'
  $offset-[side] (required - no default)
    - must specify where the indicator is absolute positioned using, any CSS size unit acceptable
*/
/* line 16, ../sass/core/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 25, ../sass/core/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 34, ../sass/core/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 47, ../sass/core/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 55, ../sass/core/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 61, ../sass/core/_reset.scss */
sup {
  top: -0.5em;
}

/* line 64, ../sass/core/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 71, ../sass/core/_reset.scss */
img {
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 6, ../sass/core/_on-media-query.scss */
body:after {
  content: 'mobile';
  display: none;
}

/* line 13, ../sass/core/_on-media-query.scss */
.ie6,
.ie7,
.ie8 {
  font-family: 'desktop';
}

/* line 17, ../sass/core/_on-media-query.scss */
.ie8 body:after {
  content: 'desktop';
}

/* Queries for supported browsers.
 ----------------------------------- */
@media only screen and (min-width: 60.5em) {
  /* line 23, ../sass/core/_on-media-query.scss */
  html {
    font-family: 'desktop';
  }
}
/* line 109, ../sass/helper-functions/_mixin-media-queries.scss */
.no_media_queries html {
  font-family: 'desktop';
}
@media only screen and (min-width: 38.51em) and (max-width: 60.49em) {
  /* line 23, ../sass/core/_on-media-query.scss */
  html {
    font-family: 'skinny';
  }
}
@media only screen and (max-width: 38.5em) {
  /* line 23, ../sass/core/_on-media-query.scss */
  html {
    font-family: 'mobile';
  }
}

@media only screen and (min-width: 60.5em) {
  /* line 29, ../sass/core/_on-media-query.scss */
  body:after {
    content: 'desktop';
  }
}
/* line 109, ../sass/helper-functions/_mixin-media-queries.scss */
.no_media_queries body:after {
  content: 'desktop';
}
@media only screen and (min-width: 38.51em) and (max-width: 60.49em) {
  /* line 29, ../sass/core/_on-media-query.scss */
  body:after {
    content: 'skinny';
  }
}
@media only screen and (max-width: 38.5em) {
  /* line 29, ../sass/core/_on-media-query.scss */
  body:after {
    content: 'mobile';
  }
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-200.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-200.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-200.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-200.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-200-Italic.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-200-Italic.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-200-Italic.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-200-Italic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-300.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-300.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-300.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-300.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-300-Italic.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-300-Italic.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-300-Italic.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-300-Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-400.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-400.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-400.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-400.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-400-Italic.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-400-Italic.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-400-Italic.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-400-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TisaPro-SC';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-400-SC.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-400-SC.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-400-SC.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-400-SC.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-500.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-500.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-500.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-500.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-500-Italic.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-500-Italic.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-500-Italic.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-500-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-700.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-700.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-700.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-700.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'TisaPro';
  src: url(/static/fonts/TisaWebPro/TisaWebPro-700-Italic.eot);
  src: url(/static/fonts/TisaWebPro/TisaWebPro-700-Italic.eot?#iefix) format("embedded-opentype"), url(/static/fonts/TisaWebPro/TisaWebPro-700-Italic.woff) format("woff"), url(/static/fonts/TisaWebPro/TisaWebPro-700-Italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* line 15, ../sass/core/_typography.scss */
h6 {
  font-size: 0.8125em;
}

/* line 23, ../sass/core/_typography.scss */
body {
  font-size: 1em;
}

/* line 27, ../sass/core/_typography.scss */
h4, h5, aside h3, .sidenote h3 {
  font-size: 1.125em;
}

/* line 31, ../sass/core/_typography.scss */
h3, article .subheading, .article .subheading {
  font-size: 1.25em;
}

/* line 35, ../sass/core/_typography.scss */
h2 {
  font-size: 1.5625em;
}

/* line 43, ../sass/core/_typography.scss */
h1 {
  font-size: 2.5em;
}

/* line 58, ../sass/core/_typography.scss */
h1, h2, h3, h4, h5, h6, .pub-date, .site_nav_link {
  font-family: Merriweather, Georgia, serif;
}

/* line 62, ../sass/core/_typography.scss */
.superscript, .subscript {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 69, ../sass/core/_typography.scss */
h1, h2, h3, h4, h5, h6, .pub-date, .site_nav_link {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
/* line 60, ../sass/helper-functions/_mixin-font.scss */
.ie6 h1, .ie6 h2, .ie6 h3, .ie6 h4, .ie6 h5, .ie6 h6, .ie6 .pub-date, .ie6 .site_nav_link, .ie7 h1, .ie7 h2, .ie7 h3, .ie7 h4, .ie7 h5, .ie7 h6, .ie7 .pub-date, .ie7 .site_nav_link, .ie8 h1, .ie8 h2, .ie8 h3, .ie8 h4, .ie8 h5, .ie8 h6, .ie8 .pub-date, .ie8 .site_nav_link {
  font-weight: normal;
  font-family: "false-300-n, Helvetica, Arial, sans-serif";
}

/* line 73, ../sass/core/_typography.scss */
h2, h4, h6,
.h2, .h4, .h6 {
  font-weight: 400;
}
/* line 60, ../sass/helper-functions/_mixin-font.scss */
.ie6 h2, .ie6 h4, .ie6 h6,
.ie6 .h2, .ie6 .h4, .ie6 .h6, .ie7 h2, .ie7 h4, .ie7 h6,
.ie7 .h2, .ie7 .h4, .ie7 .h6, .ie8 h2, .ie8 h4, .ie8 h6,
.ie8 .h2, .ie8 .h4, .ie8 .h6 {
  font-weight: normal;
  font-family: "false-400-n, Helvetica, Arial, sans-serif";
}

/* line 76, ../sass/core/_typography.scss */
h5 {
  font-weight: 500;
}
/* line 60, ../sass/helper-functions/_mixin-font.scss */
.ie6 h5, .ie7 h5, .ie8 h5 {
  font-weight: normal;
  font-family: "false-m-n, Helvetica, Arial, sans-serif";
}

/* line 79, ../sass/core/_typography.scss */
strong {
  font-weight: 700;
}
/* line 60, ../sass/helper-functions/_mixin-font.scss */
.ie6 strong, .ie7 strong, .ie8 strong {
  font-weight: normal;
  font-family: "false-700-n, Helvetica, Arial, sans-serif";
}

/* line 100, ../sass/core/_typography.scss */
body {
  color: #3b3a3a;
}

/* line 106, ../sass/core/_typography.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: 0;
  line-height: 1.5;
}
/* line 60, ../sass/helper-functions/_mixin-font.scss */
.ie6 body, .ie7 body, .ie8 body {
  font-weight: normal;
  font-family: '"Open Sans", Helvetica, Arial, sans-serif-400-n, Helvetica, Arial, sans-serif';
}

/* line 112, ../sass/core/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.3em;
}
/* line 116, ../sass/core/_typography.scss */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

/* line 124, ../sass/core/_typography.scss */
h1 {
  line-height: 1.25;
}

/* line 134, ../sass/core/_typography.scss */
p + h3 {
  margin-top: 2em;
}

/* line 147, ../sass/core/_typography.scss */
h6 {
  text-transform: uppercase;
}

/* line 151, ../sass/core/_typography.scss */
#logo_heading {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin: 0;
}

/* line 155, ../sass/core/_typography.scss */
#title {
  margin-bottom: 1.5em;
}

/* line 161, ../sass/core/_typography.scss */
ul, ol {
  margin: 0 0 0.5em;
}

/* line 164, ../sass/core/_typography.scss */
.standard_list {
  list-style-type: disc;
  padding-left: 2em;
}
/* line 167, ../sass/core/_typography.scss */
.standard_list li {
  vertical-align: middle;
  padding: 0.2em 0.5em;
}

/* line 172, ../sass/core/_typography.scss */
.standard_list {
  list-style-type: decimal;
}

/* line 183, ../sass/core/_typography.scss */
a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  color: #2a7b85;
}
/* line 190, ../sass/core/_typography.scss */
a:hover,
a a:active, a:focus {
  color: #123337;
  outline: 0;
  -webkit-transition: color 0s;
  -moz-transition: color 0s;
  -o-transition: color 0s;
  transition: color 0s;
}

/*
Type-A-File "Swissface" designed by Russ Maschmeyer, aka StrangeNative.
http: //www.strangenative.com
@strangenative

Creative Commons License by Attribution.
Feel free to take it, adapt it, & use it on both commercial and non-commercial projects.
Though I'd like a smidgeon of credit, so just leave this bit in here. K?
*/
/* line 227, ../sass/core/_typography.scss */
p:first-child {
  margin-top: 0;
}

/* line 230, ../sass/core/_typography.scss */
ul {
  list-style-type: none;
}

/* line 233, ../sass/core/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 236, ../sass/core/_typography.scss */
ul li:before, cite:before {
  content: '\2053';
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -1.5em;
  top: 0;
  color: #2a7b85;
  font-size: .9em;
}

/* line 247, ../sass/core/_typography.scss */
code {
  background: #f7f7f7;
  font: Consolas, Menlo, "Liberation Mono", Courier, monospace;
  border: 1px solid #cccccc;
  margin: 0 2px;
  padding: 0 5px;
}

/* line 254, ../sass/core/_typography.scss */
blockquote {
  font-style: italic;
  line-height: 1.4em;
}
/* line 257, ../sass/core/_typography.scss */
blockquote:before {
  content: "“";
  font-size: 4em;
  font-family: Times, serif;
  text-indent: -.6em;
  margin-top: .15em;
  float: left;
}

/* line 266, ../sass/core/_typography.scss */
cite {
  display: block;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: .8em;
  margin-top: .5em;
}

/* line 275, ../sass/core/_typography.scss */
pre {
  margin: 1.5em 0;
}

/* line 278, ../sass/core/_typography.scss */
dl {
  margin: 1.45em 0;
}

/* line 281, ../sass/core/_typography.scss */
dt {
  word-spacing: .1em;
  border-bottom: 1px dotted #95999a;
  margin-top: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
}
/* line 289, ../sass/core/_typography.scss */
dt:before {
  content: "⟩";
  font-size: 1em;
  text-indent: -1em;
  line-height: 1.4em;
  float: left;
  font-style: none;
  font-weight: normal;
}

/* line 299, ../sass/core/_typography.scss */
dd {
  font-style: italic;
  font-size: .9em;
  margin-bottom: 1.65em;
  margin-left: 0;
}

/* line 305, ../sass/core/_typography.scss */
abbr {
  text-transform: uppercase;
  font-size: .85em;
}

/* line 309, ../sass/core/_typography.scss */
p {
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4;
}

/* line 316, ../sass/core/_typography.scss */
.kicker {
  font-size: 1.33em;
  line-height: 1.8em;
  font-style: italic;
  margin: 1.75em 0 -0.25em;
}

/* line 322, ../sass/core/_typography.scss */
.run-in {
  font-weight: bold;
}

/* line 325, ../sass/core/_typography.scss */
.superscript, .subscript {
  vertical-align: super;
  font-size: 75%;
  line-height: 0em;
}

/* line 331, ../sass/core/_typography.scss */
.subscript {
  vertical-align: sub;
}

/* line 334, ../sass/core/_typography.scss */
aside, .sidenote, #sidebar {
  text-align: left;
  float: left;
  font-size: .83em;
  font-style: italic;
  font-weight: 400;
}
/* line 340, ../sass/core/_typography.scss */
aside p, .sidenote p, #sidebar p {
  color: #666;
  margin: 0;
  line-height: 1.4em;
}
/* line 345, ../sass/core/_typography.scss */
aside p + p, .sidenote p + p, #sidebar p + p {
  margin: 1.9em 0;
}
/* line 348, ../sass/core/_typography.scss */
aside ul, aside ol, .sidenote ul, .sidenote ol, #sidebar ul, #sidebar ol {
  margin-top: 1.9em;
}

/* line 352, ../sass/core/_typography.scss */
aside, .sidenote {
  width: 15em;
  margin-left: -18em;
  margin-top: 1.5em;
}
/* line 356, ../sass/core/_typography.scss */
aside h3, .sidenote h3 {
  color: #2a7b85;
  font-style: normal;
}

/* line 364, ../sass/core/_typography.scss */
.pullquote {
  margin: 0.45em 0.5em 0 0;
  padding-top: .45em;
  line-height: 1.58em;
  display: block;
  float: left;
  font-size: 2em;
  width: 50%;
  border-top: 0.15em solid black;
}

/* line 374, ../sass/core/_typography.scss */
.footnote {
  border-top: 1px solid black;
  font-size: .75em;
  margin-top: 3.7em;
}
/* line 378, ../sass/core/_typography.scss */
.footnote li {
  margin: 0.6em 0 2.1em;
}

/* line 382, ../sass/core/_typography.scss */
.caption {
  font-size: .9em;
  line-height: 1.4em;
  color: #666;
  font-style: italic;
  margin: 0.6em 0 -0.2em;
  padding-left: 1em;
  border: 2px solid #2a7b85;
  border-width: 0 0 0 2px;
}
/* line 391, ../sass/core/_typography.scss */
.caption h2 {
  font-size: 1.2em;
  color: #246972;
  font-style: none;
}

/* line 397, ../sass/core/_typography.scss */
.section-heading {
  margin: 0;
  font-size: 15em;
  line-height: 1;
}
/* line 401, ../sass/core/_typography.scss */
.section-heading a {
  color: #f4f4f4;
}

/*Tweaks*/
/* line 407, ../sass/core/_typography.scss */
.kern {
  letter-spacing: -.1em;
}

/* line 5, ../sass/core/_utilities.scss */
.hide {
  display: none;
}

/* line 8, ../sass/core/_utilities.scss */
.show {
  display: block;
}

/* line 24, ../sass/core/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 31, ../sass/core/_utilities.scss */
.ie6 .clearfix, .ie7 .clearfix {
  zoom: 1;
}
/* line 34, ../sass/core/_utilities.scss */
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
/* line 39, ../sass/core/_utilities.scss */
.clearfix:after {
  clear: both;
}

/* line 46, ../sass/core/_utilities.scss */
.alt_clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 187, ../sass/core/_utilities.scss */
.hide_text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 199, ../sass/core/_utilities.scss */
.no_wrap {
  white-space: nowrap;
}

/* line 209, ../sass/core/_utilities.scss */
.inline {
  display: inline;
}

/* line 216, ../sass/core/_utilities.scss */
.block {
  display: block;
}

/* line 247, ../sass/core/_utilities.scss */
.no_margin {
  margin: 0 !important;
}

/* line 250, ../sass/core/_utilities.scss */
.no_padding {
  padding: 0 !important;
}

/* line 252, ../sass/core/_utilities.scss */
.add_top {
  padding-top: 1.5em;
}

/* line 254, ../sass/core/_utilities.scss */
.white_fade {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 64px;
}

/* line 12, ../sass/core/_base.scss */
html {
  font-family: 'mobile';
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 22, ../sass/core/_base.scss */
body {
  background-color: white;
  background: url("images/white_fabric.png") repeat;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* line 43, ../sass/core/_base.scss */
::-moz-selection {
  background: #d6d6d6;
  color: #1d2624;
  text-shadow: none;
}

/* line 44, ../sass/core/_base.scss */
::selection {
  background: #d6d6d6;
  color: #1d2624;
  text-shadow: none;
}

/* line 56, ../sass/core/_base.scss */
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  filter: 0;
}

/* line 66, ../sass/core/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 24, ../sass/ui-global/_layout.scss */
#site_nav {
  z-index: 1;
}

/* line 59, ../sass/ui-global/_layout.scss */
.page_wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
@media only screen and (min-width: 38.51em) {
  /* line 59, ../sass/ui-global/_layout.scss */
  .page_wrapper {
    -webkit-transform: translate3d(0, -458px, 0);
    -moz-transform: translate3d(0, -458px, 0);
    -ms-transform: translate3d(0, -458px, 0);
    -o-transform: translate3d(0, -458px, 0);
    transform: translate3d(0, -458px, 0);
  }
  /* line 65, ../sass/ui-global/_layout.scss */
  .header_feature_active .page_wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 109, ../sass/helper-functions/_mixin-media-queries.scss */
.no_media_queries .page_wrapper {
  -webkit-transform: translate3d(0, -458px, 0);
  -moz-transform: translate3d(0, -458px, 0);
  -ms-transform: translate3d(0, -458px, 0);
  -o-transform: translate3d(0, -458px, 0);
  transform: translate3d(0, -458px, 0);
}
/* line 65, ../sass/ui-global/_layout.scss */
.header_feature_active .no_media_queries .page_wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media only screen and (min-width: 38.51em) and (max-width: 60.49em) {
  /* line 71, ../sass/ui-global/_layout.scss */
  .nav_active .page_wrapper {
    -webkit-transform: translate3d(0, -403px, 0);
    -moz-transform: translate3d(0, -403px, 0);
    -ms-transform: translate3d(0, -403px, 0);
    -o-transform: translate3d(0, -403px, 0);
    transform: translate3d(0, -403px, 0);
  }
}
@media only screen and (max-width: 38.5em) {
  /* line 59, ../sass/ui-global/_layout.scss */
  .page_wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 79, ../sass/ui-global/_layout.scss */
  .nav_active .page_wrapper {
    -webkit-transform: translate3d(0, 445px, 0);
    -moz-transform: translate3d(0, 445px, 0);
    -ms-transform: translate3d(0, 445px, 0);
    -o-transform: translate3d(0, 445px, 0);
    transform: translate3d(0, 445px, 0);
  }
}
/* line 84, ../sass/ui-global/_layout.scss */
.no-js .page_wrapper {
  display: table-header-group;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 90, ../sass/ui-global/_layout.scss */
header {
  margin: 4em 0 0;
}

/* line 94, ../sass/ui-global/_layout.scss */
section {
  margin: 4em 0;
}

/* line 107, ../sass/ui-global/_layout.scss */
.right {
  float: right;
}

/* line 110, ../sass/ui-global/_layout.scss */
.left {
  float: left;
}

/* line 58, ../sass/ui-global/_background.scss */
#body_insert, #hero_content {
  background-color: white;
  color: #1d2624;
}

/* line 29, ../sass/ui-global/_hero.scss */
#hero_content {
  position: relative;
  padding: 1em 1.5em;
  border: solid #f4f4f4;
  border-width: 1px 0;
}

/* line 35, ../sass/ui-global/_hero.scss */
#hero {
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 60.49em) {
  /* line 46, ../sass/ui-global/_hero.scss */
  .hero {
    padding-top: 0;
  }
}
/* line 3, ../sass/ui-global/_posts.scss */
.posts_listing .post_listing:before {
  content: '';
}

/* line 9, ../sass/ui-global/_posts.scss */
.permalink {
  display: block;
}

/* line 13, ../sass/ui-global/_posts.scss */
.post_listing .subheading {
  font-size: 66%;
}
/* line 16, ../sass/ui-global/_posts.scss */
.post_listing .pub-date {
  margin-top: -0.5em;
}

/* line 1, ../sass/ui-global/_lists.scss */
.section-posts {
  background: rgba(255, 255, 255, 0.7);
}

/* line 2, ../sass/ui-global/_article.scss */
article .right, .article .right {
  margin-left: 2em;
}
/* line 5, ../sass/ui-global/_article.scss */
article .subheading, .article .subheading {
  color: #2a7b85;
  margin: -3em 0 2em;
}

/* line 14, ../sass/ui-global/_article.scss */
.pub-date {
  color: #2a7b85;
}

/* line 5, ../sass/ui-global/_nav.scss */
#site_nav {
  text-align: right;
}

/* line 10, ../sass/ui-global/_nav.scss */
#site_nav .site_nav_item:before, #footer_nav .site_nav_item:before {
  content: '';
}

/* line 15, ../sass/ui-global/_nav.scss */
.site_nav_item {
  display: inline-block;
}

/* line 18, ../sass/ui-global/_nav.scss */
.site_nav_link {
  color: #1d2624;
  display: block;
  padding: 0.2em 0 1em;
  margin: 0 1em;
  border-top: 5px solid transparent;
}
/* line 25, ../sass/ui-global/_nav.scss */
.site_nav_link.current {
  color: #2a7b85;
  border-color: #bfd7da;
}

/* line 31, ../sass/ui-global/_nav.scss */
#footer_nav {
  text-align: center;
}

/* line 1, ../sass/ui-global/_footer.scss */
#footer {
  margin-top: 4em;
}

/* line 5, ../sass/ui-elements/_slides.scss */
#slide_next, #slide_prev {
  display: block;
  position: absolute;
  top: 20em;
  width: 42px;
  height: 96px;
  background-color: #3b3a3a;
  background-color: rgba(32, 32, 32, 0.3);
  text-indent: -999em;
  outline: none;
}
/* line 15, ../sass/ui-elements/_slides.scss */
#slide_next:hover, #slide_prev:hover {
  opacity: 1;
}
/* line 18, ../sass/ui-elements/_slides.scss */
.disabled#slide_next, .disabled#slide_prev {
  display: none;
}

/* line 22, ../sass/ui-elements/_slides.scss */
.slider_controls {
  position: relative;
  z-index: 10;
}

/* line 26, ../sass/ui-elements/_slides.scss */
#slide_next {
  right: 0;
}

/* line 31, ../sass/ui-elements/_slides.scss */
#slide_prev {
  left: 0;
}

/* line 356, ../sass/helper-functions/_grid.scss */
.grid_container {
  max-width: 1140px;
}

/* line 364, ../sass/helper-functions/_grid.scss */
.grid_row {
  padding-left: 0%;
  padding-right: 0%;
}

/* line 371, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_1, .grid_row .grid_col_2, .grid_row .grid_col_3, .grid_row .grid_col_4, .grid_row .grid_col_5, .grid_row .grid_col_6, .grid_row .grid_col_7, .grid_row .grid_col_8, .grid_row .grid_col_9, .grid_row .grid_col_10, .grid_row .grid_col_11, .grid_row .grid_col_12 {
  padding-left: 2.63%;
  padding-right: 2.63%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_1 {
  width: 3.07%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_2 {
  width: 11.4%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_3 {
  width: 19.73%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_4 {
  width: 28.07%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_5 {
  width: 36.4%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_6 {
  width: 44.73%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_7 {
  width: 53.07%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_8 {
  width: 61.4%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_9 {
  width: 69.73%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_10 {
  width: 78.07%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_11 {
  width: 86.4%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row .grid_col_12 {
  width: 94.73%;
}

@media only screen and (min-width: 72em) {
  /* line 217, ../sass/helper-functions/_grid.scss */
  .grid_row {
    padding-left: 2.6em;
    padding-right: 2.6em;
  }
}
@media only screen and (min-width: 60.5em) {
  /* line 205, ../sass/helper-functions/_grid.scss */
  .grid_container {
    max-width: 1140px;
  }
}
/* line 236, ../sass/helper-functions/_grid.scss */
.no_media_queries .grid_container {
  max-width: 1140px;
}
@media only screen and (min-width: 38.51em) and (max-width: 60.49em) {
  /* line 205, ../sass/helper-functions/_grid.scss */
  .grid_container {
    max-width: 100%;
  }

  /* line 217, ../sass/helper-functions/_grid.scss */
  .grid_row {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media only screen and (max-width: 38.5em) {
  /* line 205, ../sass/helper-functions/_grid.scss */
  .grid_container {
    max-width: 100%;
  }

  /* line 217, ../sass/helper-functions/_grid.scss */
  .grid_row {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  /* line 284, ../sass/helper-functions/_grid.scss */
  .grid_row .grid_col_1, .grid_row .grid_col_2, .grid_row .grid_col_3, .grid_row .grid_col_4, .grid_row .grid_col_5, .grid_row .grid_col_6, .grid_row .grid_col_7, .grid_row .grid_col_8, .grid_row .grid_col_9, .grid_row .grid_col_10, .grid_row .grid_col_11, .grid_row .grid_col_12, .grid_row .grid_row_9_inner .grid_col_1, .grid_row_9_inner .grid_row .grid_col_1, .grid_row .grid_row_9_inner .grid_col_2, .grid_row_9_inner .grid_row .grid_col_2, .grid_row .grid_row_9_inner .grid_col_3, .grid_row_9_inner .grid_row .grid_col_3, .grid_row .grid_row_9_inner .grid_col_4, .grid_row_9_inner .grid_row .grid_col_4, .grid_row .grid_row_9_inner .grid_col_5, .grid_row_9_inner .grid_row .grid_col_5, .grid_row .grid_row_9_inner .grid_col_6, .grid_row_9_inner .grid_row .grid_col_6, .grid_row .grid_row_9_inner .grid_col_7, .grid_row_9_inner .grid_row .grid_col_7, .grid_row .grid_row_9_inner .grid_col_8, .grid_row_9_inner .grid_row .grid_col_8, .grid_row .grid_row_9_inner .grid_col_9, .grid_row_9_inner .grid_row .grid_col_9 {
    width: 94.73%;
  }
}
/* line 356, ../sass/helper-functions/_grid.scss */
.grid_container_quarter {
  max-width: 972px;
}

/* line 364, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner {
  padding-left: 0%;
  padding-right: 0%;
}

/* line 371, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_1, .grid_row_9_inner .grid_col_2, .grid_row_9_inner .grid_col_3, .grid_row_9_inner .grid_col_4, .grid_row_9_inner .grid_col_5, .grid_row_9_inner .grid_col_6, .grid_row_9_inner .grid_col_7, .grid_row_9_inner .grid_col_8, .grid_row_9_inner .grid_col_9 {
  padding-left: 2.57%;
  padding-right: 2.57%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_1 {
  width: 5.96%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_2 {
  width: 17.07%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_3 {
  width: 28.18%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_4 {
  width: 39.3%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_5 {
  width: 50.41%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_6 {
  width: 61.52%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_7 {
  width: 72.63%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_8 {
  width: 83.74%;
}

/* line 284, ../sass/helper-functions/_grid.scss */
.grid_row_9_inner .grid_col_9 {
  width: 94.85%;
}

/* line 116, ../sass/layouts/_grid.scss */
.grid_container {
  margin-left: auto;
  margin-right: auto;
}
/* line 31, ../sass/core/_utilities.scss */
.ie6 .grid_container, .ie7 .grid_container {
  zoom: 1;
}
/* line 34, ../sass/core/_utilities.scss */
.grid_container:after, .grid_container:before {
  content: "";
  display: table;
}
/* line 39, ../sass/core/_utilities.scss */
.grid_container:after {
  clear: both;
}

/* line 121, ../sass/layouts/_grid.scss */
.grid_spacer {
  padding: 1px 0;
}

/* line 31, ../sass/core/_utilities.scss */
.ie6 .grid_row, .ie6 .grid_row_9_inner, .ie7 .grid_row, .ie7 .grid_row_9_inner {
  zoom: 1;
}
/* line 34, ../sass/core/_utilities.scss */
.grid_row:after, .grid_row_9_inner:after, .grid_row:before, .grid_row_9_inner:before {
  content: "";
  display: table;
}
/* line 39, ../sass/core/_utilities.scss */
.grid_row:after, .grid_row_9_inner:after {
  clear: both;
}
/* line 127, ../sass/layouts/_grid.scss */
.no_haslayout .grid_row, .no_haslayout .grid_row_9_inner {
  clear: both;
}

/* line 132, ../sass/layouts/_grid.scss */
.grid_row .grid_col_1, .grid_row .grid_col_2, .grid_row .grid_col_3, .grid_row .grid_col_4, .grid_row .grid_col_5, .grid_row .grid_col_6, .grid_row .grid_col_7, .grid_row .grid_col_8, .grid_row .grid_col_9, .grid_row .grid_col_10, .grid_row .grid_col_11, .grid_row .grid_col_12, .grid_row_9_inner .grid_col_1, .grid_row_9_inner .grid_col_2, .grid_row_9_inner .grid_col_3, .grid_row_9_inner .grid_col_4, .grid_row_9_inner .grid_col_5, .grid_row_9_inner .grid_col_6, .grid_row_9_inner .grid_col_7, .grid_row_9_inner .grid_col_8, .grid_row_9_inner .grid_col_9 {
  float: left;
}

/* line 160, ../sass/layouts/_grid.scss */
.grid_row_9_inner {
  margin-left: -2.57%;
  margin-right: -2.57%;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 38.5em) {
  /* line 194, ../sass/layouts/_grid.scss */
  .grid_spacer {
    display: none;
  }
}
